.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 20%;
    background: rgb(247, 238, 238);
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    text-align: justify;
}
.card img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}
.card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.more{
    color:red;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}

.title {
    font-weight: bold;
}


