.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 20px;
    width: 20%;
    height: 830px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    text-align: justify;
}
.card img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 0px;
}
.card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.more{
    color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
.more:hover{
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}
